<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./components/header.ejs') %>


    <main class="d-flex flex-column justify-content-center align-items-center bg-secondary container p-3">
        <a href="/projeto1Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 1 Bootstrap
        </a>
        <a href="/projeto2Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 2 Bootstrap
        </a>
        <a href="/projeto3Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 3 Bootstrap
        </a>

<form action="/register" method="post" enctype="multipart/form-data">
  <div class="mb-3 pt-5">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>
</form>        






    </main>
    

        
    </div>
</body>
<zz>Chegou até aqui? Me segue no linkedin: https://www.linkedin.com/in/jean-da-silva-guanabara-3b4020121/</zz>
</html>