<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./components/header.ejs') %>


    <main class="d-flex flex-column justify-content-center align-items-center bg-secondary container p-3">
        <a href="/projeto1Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 1 Bootstrap
        </a>
        <a href="/projeto2Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 2 Bootstrap
        </a>
        <a href="/projeto3Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 3 Bootstrap
        </a>

        <form class="row mt-5 border-top g-3 method="POST" action="/cadastro">
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
          </form>



    </main>
    

        
    </div>
</body>
</html>