<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./components/header.ejs') %>


    <main class="d-flex flex-column justify-content-center align-items-center bg-secondary container p-3">
        <a href="/projeto1Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 1 Bootstrap
        </a>
        <a href="/projeto2Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 2 Bootstrap
        </a>
        <a href="/projeto3Bootstrap" class="p-2 mt-3 btn btn-light">
            Projeto 3 Bootstrap
        </a>

    </main>
    

        
    </div>
</body>
</html>