<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./components/header.ejs') %>


    <main>
        <a href="/testebootstrap">
            <button>Abre o teste bootstrap</button> </a>

    </main>
    

        
    </div>
</body>
</html>