<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
    
    <%- include('./components/header.ejs') %>


    <main>
        <a href="/projeto1Bootstrap">
            <button>Projeto 1 Bootstrap</button> 
        </a>

    </main>
    

        
    </div>
</body>
</html>