<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <title>O teste</title>
</head>
<body>

    <header class="container bg-black pt-3 pb-3 text-center">
        <h1 class="text-secondary">Bootstrap</h1>
        <p class="text-secondary">Este é meu primeiro contato com Bootstrap</p>
    </header>
    <nav class="container bg-black">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
            
        </ul>
    </nav>

    <section class="container p-0" >
        <img style="width: 100%" src="/img/img-pj1/bg.png" alt="Back Ground Image">
    </section>


    <section class="container p-0">
        <div class="row">
            <img src="/img/img-pj1/html.png" alt="" class="col">
            <img src="/img/img-pj1/css.png" alt="" class="col">
            <img src="/img/img-pj1/js.png" alt="" class="col">
        </div>

    </section>

    <footer class="container bg-black pt-3 pb-3 ">
        <p class="text-secondary ">Todos os direitos reservados</p>
    </footer>

    
</body>
</html>