<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/css/style3.css">
    <title>Projeto 3</title>
</head>
<body>
    <main>
        <section class="shadow rounded-4 p-4 text-center">
            <a href="/"><img src="/img/img-pj3/logo.png" alt="Logo" class="m-4"></a> 
            <p>Digite seu Email e Senha: </p>
            <div class="form-floating">
                <input type="email" class="form-control m-2" placeholder="Email">
                <label for="">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control m-2" placeholder="Senha">
                <label for="">Senha</label>
            </div>
            <div>
                <label><input type="checkbox" class="mx-2">Lembrar</label>
            </div>
            <button class="btn btn-primary mt-3">Entrar</button>
        </section>

    </main>
</body>
</html>