<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head.ejs') %>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
        h1 {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <title>Shoes Store</title>
</head>
<body>
    <header class="container bg-black text-light text-center p-3">
        <h1>Shoes Store</h1>
        <p>Não só um tênis, mas um salto em sua vida</p>
    </header>
    <nav class="nav container bg-dark p-3 justify-content-end">
        <ul class="nav">
            <li class="nav-item">
                <a href="/" class="nav-link text-white">
                Home
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                Shoes
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                About
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                Contact
                </a>
            </li>
        </ul>
    </nav>

    <section class="container bg-dark text-white text-center p-5">
        <h1>Veja nossos tênis</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti totam voluptas sequi, inventore tenetur dolore et quam, ea deserunt blanditiis culpa ullam illo possimus praesentium maxime sunt eaque at distinctio!</p>
        <div>
            <a href="#" class="btn btn-primary m-1">Shoes</a>
            <a href="#" class="btn btn-secondary m-1">About</a>
        </div>

    </section>

    <section class="container text-center">
        <div class="row row-cols-auto justify-content-center">
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/1.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 1</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/2.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 2</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/3.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 3</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/4.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 4</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/5.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 5</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            <div class="card p-3 m-2">
                <img src="/img/img-pj2/6.jpg" alt="Produto" class="card-img-top mb-2">
                <h1 class="card-title">Tênis 6</h1>
                <p class="card-subtitle">Esse é um tênis de marca</p>
                <a href="#" class="btn btn-primary mt-2">Comprar</a>
            </div>
            

            
        </div>

    </section>


    <footer class="container border-top pt-4 mt-4">
        <p>&copy; 2023, Shows Store</p>

    </footer>



</body>
</html>